@model List<SearchResult>

<script>
    function makeFriends(userId, userName) {
        let data = { id: userId };
        
        $.ajax({
            url: '@Url.ActionLink("MakeFriends", "Home")',
            type: "POST",
            contentType: 'application/x-www-form-urlencoded',
            headers: { 'Access-Control-Allow-Origin': '*' },
            dataType: 'json',
            data: { id: userId }
        })
        .done(function(data) {
            if (data.success === true) {
                let btn = $('#btn-make-friends-with-' + userId);
                if (data.madeFriends === true) {
                    btn.text('Stop being friends');
                }
                else {
                    btn.text('Make friends');
                }
            }
            else {
                alert('Oops. Error');
            }
        });
    }
</script>

@if (Model != null)
{
    if (Model.Count == 0)
    {
        <p>Nothing found</p>
    }
    else
    {
        <ol>
            @foreach (var item in Model)
            {
                <li>
                    @item.Name 
                    <button id="btn-make-friends-with-@item.Id" type="button" class="btn btn-link" onclick="makeFriends('@item.Id', '@item.Name')">Make friends</button>
                </li>
            }
        </ol>
    }
}